# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

# C# files
[*.cs]

# Naming styles
dotnet_naming_rule.private_members_without_underscore.symbols = private_fields
dotnet_naming_rule.private_members_without_underscore.style = private_field_style
dotnet_naming_rule.private_members_without_underscore.severity = warning

# Define symbol
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

# Define style - camelCase without underscore prefix
dotnet_naming_style.private_field_style.capitalization = camel_case
dotnet_naming_style.private_field_style.required_prefix =
