@page "/wordlists"

@using Microsoft.AspNetCore.Components.QuickGrid


<h3 class="fetknopp">Wordlists</h3>

@* <QuickGrid class="grid" Items="@DbContext.WordLists">
    <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
</QuickGrid> *@

@code {
    // private IQueryable<WordList> wordLists;

    // protected override async Task OnInitializedAsync()
    // {
    //     wordLists = DbContext.WordLists;
    // }
}
